nav {
    background-color: pink;
  color: deeppink;
}
nav{
    background-color: rgb(243, 103, 224);
    color: rgb(190, 35, 87);
}
div{
    color: rgb(197, 27, 141);
    color: rgb(172, 50, 115);
}
P{
    color: black;
}
h3{
    color: blueviolet;

}
article{
    color: deeppink;
}
a{
    color: rgb(21, 1, 27);
}
h2{
    color: deeppink;
}