nav{
    background-color: rgb(126, 175, 40);
    color: black;
}
h2{
    color: darkgreen;
    color: black;
    size: 50 name ;
}
footer{
    background-color: chartreuse;
    color: rgb(6, 10, 1);
}